<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit customer</h1>
<p>
    <a href="/customers">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customers/edit}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
            <td th:if="${#fields.hasErrors('firstName')}"th:errors="*{firstName}">FirstName Error</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td th:if="${#fields.hasErrors('lastName')}"th:errors="*{lastName}">LastName Error</td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select th:field="*{province.id}">
                    <option th:each="p : ${provinces}"
                            th:value="${p.id}"
                            th:text="${p.nameProvince}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>