<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Delete Detail Contract</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/furama/">Home furama</a>
    <br>
    <a href="/furama/detail_contract">Show all detail_contract</a>
</p>
<form th:action="@{/furama/detail_contract/delete}" th:object="${detailContract}" method="post">
    <input th:type="hidden" name="id" th:field="*{idDetailContract}">
    <input th:type="hidden" name="id" th:field="*{amountContract}">
    <input th:type="hidden" name="id" th:field="*{attachService}">
    <input th:type="hidden" name="id" th:field="*{contract.idContract}">

    <table>
        <tr>
            <td>Amount Contract:</td>
            <td th:text="${detailContract.amountContract}"></td>
        </tr>
        <tr>
            <td>Attach Service:</td>
            <td th:text="${detailContract.attachService}"></td>
        </tr>
        <tr>
            <td>Id Contract:</td>
            <td th:text="${detailContract.contract.idContract}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete detail_contract"></td>
        </tr>
    </table>
</form>
</body>
</html>