<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DetailContract</title>
</head>
<body>
<a href="/furama/detail_contract/create">Create new detail_contract</a>
<br>
<a href="/furama">Home furama</a>
<h1>Detail_Contract</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table border="1">
    <tr>
        <th>Amount Contract</th>
        <th>Attach Service</th>
        <th>Id Contract</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="detail : ${detailContracts}">
        <tr>
            <td th:text="${detail.amountContract}"></td>
            <td th:text="${detail.attachService}"></td>
            <td th:text="${detail.contract.idContract}"></td>
            <td><a th:href="@{/furama/detail_contract/edit/__${detail.idDetailContract}__ }">Edit</a></td>
            <td><a th:href="@{/furama/detail_contract/delete/__${detail.idDetailContract}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>